<tr>
	<td data-original-title="Jumps away" rel="tooltip">Jita</td>
	<td><%=target.name%></td>
	<td><%=target.ship_type%></td>
	<td><%=target.corpalli%></td>
	<td><%=target.threat_level%></td>
	<td><%=target.updated_at%></td>
</tr>