	<%=image_tag("banner.png", :width =>500, :class => 'banner-igb')%>
	
	<ul id="tabs" class="nav nav-tabs">
		<li class="active"><a href="#Intel" data-toggle="tab">Intel</a></li>
		<li><a href="#CorpLocations" data-toggle="tab">Corp Locations</a></li>
		<li><a href="#TargetsStats" data-toggle="tab">Targets Stats</a></li>
		<li><a href="#Settings" data-toggle="tab">Settings</a></li>
		<%=render :partial => 'modal_new_target'%>
		<%=link_to "Report Target", "#report_target_modal", :class => "btn btn-primary", "data-toggle" => "modal"%>
		
	</ul>
	
	<div class="span10 intel-igb">
		<div id="Intel" class="tab-igb tab-pane fade active in"><%=render :partial => 'tab-partials/intel'%></div>
		<div id="CorpLocations" class="tab-igb tab-pane fade"><%=render :partial => 'tab-partials/corp_locations'%></div>
		<div id="TargetsStats" class="tab-igb tab-pane fade"><%=render :partial => 'tab-partials/targets_stats'%></div>
		<div id="Settings" class="tab-igb tab-pane fade"><%=render :partial => 'tab-partials/settings'%></div>
	</div>

<script>
var user_id = <%=@user.id%>
CCPEVE.requestTrust("<%=escape_javascript(request.env['HTTP_HOST'])%>");
setInterval(function(){$.get("/users/"+user_id+"/reload.js");}, 3000);
</script>